[submodule "transformers"]
	path = transformers
	url = git@github.com:SamyakSS83/SamyakSS83.github.io.git
[submodule "{submodule_path}"]
	path = {submodule_path}
	url = git@github.com:SamyakSS83/transformer-animation.git
[submodule "transformer-animation"]
	path = transformer-animation
	url = git@github.com:SamyakSS83/transformer-animation.git
